<!DOCTYPE html>
<html lang='ja'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='icon' href='favicon.ico'>
  <title>TS & SASS Boiler</title>

  <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
  <header class="l-header">
    <section>
      <h1 class="l-header__title">Hello World</h1>
    </section>
  </header>
  <article class="l-content">
    <h1 class="m-target js-rotate">TypeScript & SASS & PostCss Personal Boiler Plate!</h1>
    <p>
      Repository is
      <a href="https://github.com/kaito1002/ts-sass-postcss-boiler">kaito1002/ts-sass-postcss-boiler</a>
    </p>

    <picture>
      <source type="image/webp" srcset="assets/logo.png.webp">
      <img src='assets/logo.png' alt='logo'>
    </picture>
  </article>
  <footer class="l-footer">© KK</footer>

  <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>