<!DOCTYPE html>
<html lang='ja'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title>Document</title>
</head>

<body>
  <header class="l-header">
    <section>
      <h1 class="l-header__title">Hello World</h1>
    </section>
  </header>
  <div class="l-main">
    <article class="l-content">
      <h1 class="m-target js-rotate">Hello World!</h1>
    </article>
    <footer class="l-footer">© KK</footer>
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>