<!DOCTYPE html>
<html lang='ja'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='icon' href='assets/favicon.ico'>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title>TS & SASS Boiler</title>
</head>

<body>
  <h1 class="test">Hello World</h1>
  <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>